h1 {
  font-family: "Outfit", sans-serif;
  margin: 1rem 3rem 0 3rem;
}
#jobTitle{
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 100;
  margin: 0 3rem 0 3rem;
}
h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}
p, li {
  font-family: "Inter", sans-serif;
  color: black;
}
a:link {
  color: black;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  color: rgb(18, 56, 37);
  font-weight: 900;
  text-decoration: underline;
}

#hero {
  display: flex;
  background-color: #ff996680;
  padding: 30px 20px 30px 20px;
  width: 80%;
  margin: 0 auto;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}
#coordonnees{
  display: flex;
  justify-content: left;
  margin: 0 3rem 0 3rem;
}
#heroFlex{
  display: flex;
  flex-direction: column;
}
hr{
  border-top: solid black 1px;
}
#flexPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
}
#portrait {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 3rem 0 3rem;
}
#description {
  margin: 0 3rem 0 3rem;
}
#section2{
  display: flex;
  flex-direction:row;
  width: 80%;
  margin: 0 auto;
  padding: 50px 30px 50px 30px;
}
.laOuLo{
  text-decoration: underline;
}
#compSoftLang{
  border:#FCDB3280 solid 5px;
  border-radius: 50px;
  margin-right: 2%;
  width: 50%;
  padding: 1.5rem 0 0 2rem;
}
#formaExpe{
  border:#FFA7A180 solid 5px;
  border-radius: 50px;
  margin-left: 2%;
  width: 80%;
  padding: 1.5rem 2rem 1.5rem 2rem;
}
.formaTitle{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  text-decoration: underline;
}
